<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">List Product</a>
    <div class="collapse navbar-collapse" id="navbarText">
    <!-- nav_bar and nav_link are defined in application_helper.rb -->
    <%= nav_bar do %>
      <%= nav_link 'Categories', categories_path %>
    <% end %>
  </div>
</nav>